<!doctype html>
<html lang="en" class="bg-gray-200 font-mono text-gray-800">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Color Scheme Generator</title>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <script defer src="/dist/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <link rel="stylesheet" href="/dist/app.css">
</head>
<body>

<div id="app" class="py-12">
    <h1 class="mb-12 px-4 font-normal leading-tight text-center text-4xl">
        Color Scheme Generator
    </h1>

    <label class="block max-w-sm mx-auto mb-12 px-4">
        <span class="ml-4 text-lg">
            Brand Color
        </span>

        <div class="flex">
            <input type="text"
                autofocus
                class="py-2 px-4 w-full rounded-l bg-white font-mono leading-normal text-grey-darkest text-2xl"
                placeholder="#bada55, rgb(), blue"
                v-model="colorInput"
            >

            <button type="button"
                class="px-4 rounded-r bg-grey-light"
                @click="colorInput = getRandomColor()"
            >
                <i class="fas fa-random text-grey-darker"></i>
            </button>
        </div>
    </label>

    <section class="container mx-auto mb-12 px-4">
        <div class="flex flex-wrap items-start justify-between -mx-4 md:flex-no-wrap">

            <div v-for="color in colors" class="w-1/2 sm:w-1/3 md:1/6 p-4">
                <span v-text="color.name" class="ml-4"></span>

                <div class="flex flex-col h-32 rounded overflow-hidden">
                    <span :style="{ backgroundColor: tint(color.value.hex()).hex() }" class="h-1/5"></span>
                    <span :style="{ backgroundColor: color.value.hex() }" class="flex-1"></span>
                    <span :style="{ backgroundColor: shade(color.value.hex()).hex() }" class="h-1/5"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="container mx-auto mb-12 px-4">
        <span class="ml-4">Greys</span>

        <div class="flex flex-wrap items-center justify-center rounded overflow-hidden md:flex-no-wrap">
            <div
                v-for="grey in greys"
                :style="{ backgroundColor: grey.value.hex() }"
                class="w-1/3 h-32 md:flex-1">
            </div>
        </div>
    </section>

    <section class="container mx-auto mb-12 px-4">
        <div class="flex flex-wrap">
            <span
                class="py-1 px-2 mr-2 rounded-t no-underline text-grey-darkest text-sm cursor-pointer sm:py-2 sm:px-4 sm:text-base"
                role="tab"
                :class="{ 'bg-white': activeOutputTab === 'tailwind' }"
                @click.prevent="setActiveOutputTab('tailwind')"
            >
                Tailwind
            </span>

            <span
                class="py-1 px-2 mr-2 rounded-t no-underline text-grey-darkest text-sm cursor-pointer sm:py-2 sm:px-4 sm:text-base"
                role="tab"
                :class="{ 'bg-white': activeOutputTab === 'sass' }"
                @click.prevent="setActiveOutputTab('sass')"
            >
                SASS
            </span>

            <span
                class="py-1 px-2 mr-2 rounded-t no-underline text-grey-darkest text-sm cursor-pointer sm:py-2 sm:px-4 sm:text-base"
                role="tab"
                :class="{ 'bg-white': activeOutputTab === 'scss' }"
                @click.prevent="setActiveOutputTab('scss')"
            >
                SCSS
            </span>

            <span
                class="py-1 px-2 mr-2 rounded-t no-underline text-grey-darkest text-sm cursor-pointer sm:py-2 sm:px-4 sm:text-base"
                role="tab"
                :class="{ 'bg-white': activeOutputTab === 'less' }"
                @click.prevent="setActiveOutputTab('less')"
            >
                Less
            </span>
        </div>

        <div id="output" class="rounded-b rounded-tr bg-white pt-8 px-4 pb-4 leading-tight text-sm" :class="{ 'rounded-t': activeOutputTab !== 'tailwind' }">
            <!-- TAILWIND -->
            <div v-if="activeOutputTab === 'tailwind'" class="overflow-x-scroll">
                <span v-for="(grey, id) in greys" class="whitespace-no-wrap">'{{ id }}': '{{ grey.value.hex() }}',<br></span><br>

                <span v-for="(color, id) in colors" class="whitespace-no-wrap">
                    '{{ id }}-light': '{{ tint(color.value).hex() }}',<br>
                    '{{ id }}': '{{ color.value.hex() }}',<br>
                    '{{ id }}-dark': '{{ shade(color.value).hex() }}',<br><br>
                </span>
            </div>

            <!-- SASS -->
            <div v-if="activeOutputTab === 'sass'" class="overflow-x-scroll">
                <span v-for="(grey, id) in greys" class="whitespace-no-wrap">${{ id }}: {{ grey.value.hex() }}<br></span><br>

                <span v-for="(color, id) in colors" class="whitespace-no-wrap">
                    ${{ id }}-light: {{ tint(color.value).hex() }}<br>
                    ${{ id }}: {{ color.value.hex() }}<br>
                    ${{ id }}-dark: {{ shade(color.value).hex() }}<br><br>
                </span>
            </div>

            <!-- SCSS -->
            <div v-if="activeOutputTab === 'scss'" class="overflow-x-scroll">
                <span v-for="(grey, id) in greys" class="whitespace-no-wrap">${{ id }}: {{ grey.value.hex() }};<br></span><br>

                <span v-for="(color, id) in colors" class="whitespace-no-wrap">
                    ${{ id }}-light: {{ tint(color.value).hex() }};<br>
                    ${{ id }}: {{ color.value.hex() }};<br>
                    ${{ id }}-dark: {{ shade(color.value).hex() }};<br><br>
                </span>
            </div>

            <!-- LESS -->
            <div v-if="activeOutputTab === 'less'" class="overflow-x-scroll">
                <span v-for="(grey, id) in greys" class="whitespace-no-wrap">@{{ id }}: {{ grey.value.hex() }};<br></span><br>

                <span v-for="(color, id) in colors" class="whitespace-no-wrap">
                    @{{ id }}-light: {{ tint(color.value).hex() }};<br>
                    @{{ id }}: {{ color.value.hex() }};<br>
                    @{{ id }}-dark: {{ shade(color.value).hex() }};<br><br>
                </span>
            </div>
        </div>
    </section>

    <footer class="text-center text-sm text-grey-dark px-3">
        Created by
        <a href="https://twitter.com/adevade" class="text-grey-dark">@adevade</a>
        | Got a suggestion? Feel free to
        <a href="https://github.com/adevade/color-scheme-generator" class="text-grey-dark">contribute</a>!
    </footer>
</div>

</body>
</html>
